.button {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  width: 248px;
  height: 40px;
  color: #F2F4FE;
  border-radius: 10px;
  border: none;
}

/* Variants */

/* Primary */
.button_primary {
  background: #AD1FEA;
}

.button_primary:hover {
  background: #C75AF6;
}

/* Edit */
.button_edit {
  background: #4661E6;
}

.button_edit:hover {
  background: #7C91F9;
}

/* Secondary */
.button_secondary {
  background: #3A4374
}

.button_secondary:hover {
  background: #656EA3;
}


/* Danger */
.button_danger {
  background: #D73737;
}

.button_danger:hover {
  background: #E98888;
}

@media screen and (min-width: 768px) {
  .button {
    width: 128px;
    height: 44px;
    font-size: 14px;
    line-height: 20px;
  }
}