.button {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  width: 80px;
  height: 30px;
  background: #AD1FEA;
  color: #F2F4FE;
  border-radius: 10px;
  margin-right: 10px;
}

.button:hover {
  background: #C75AF6;
}

.button:last-child {
  margin-right: 0;
}

/* Variants */

/* Edit */
.button_edit {
  background: #4661E6;
}

.button_edit:hover {
  background: #7C91F9;
}

/* Delete */
.button_delete {
  background: #D73737;
}

.button_delete:hover {
  background: #E98888;
}

@media screen and (min-width: 768px) {
  .button {
    width: 140px;
    height: 44px;
    font-size: 14px;
    line-height: 20px;
  }
}