.button {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  width: 248px;
  height: 40px;
  color: #f2f4fe;
  border-radius: 10px;
  border: none;
}

/* Variants */

/* Primary */
.button_primary {
  background: #ad1fea;
}

.button_primary:hover {
  background: #c75af6;
}

/* Edit */
.button_edit {
  background: #4661e6;
}

.button_edit:hover {
  background: #7c91f9;
}

/* Secondary */
.button_secondary {
  background: #3a4374;
}

.button_secondary:hover {
  background: #656ea3;
}

/* Danger */
.button_danger {
  background: #d73737;
}

.button_danger:hover {
  background: #e98888;
}

@media screen and (min-width: 768px) {
  .button {
    width: 128px;
    height: 44px;
    font-size: 14px;
    line-height: 20px;
  }
}

/* @media screen and (min-width: 768px) {
  .button {
    font-size: 18px;
    line-height: 26px;
  }
} */
