.taskCard {
  display: grid;
  gap: 16px;
  background: #FFFFFF;
  width: 80%;
  min-height: 175px;
  border-radius: 10px;
  margin: 24px 32px 24px 16px;
}

@media screen and (min-width: 768px) {
  .taskCard {
    gap: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .taskCard {
    width: 60%;
  }
}