.navbar {
  width: 100%;
  max-width: 1440px;
  height: 72px;
  background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.textLink {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  /* .navbar {
    height: 178px;
  } */

  .textLink {
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.25px;
  }
}