.addingTask {
  display: grid;
  gap: 16px;
  width: 80%;
  max-width: 700px;
  background-color: #FFFFFF;
  border-radius: 10px;
  position: relative;
  margin: 55px 24px 77px 24px;
}

@media screen and (min-width: 768px) {
  .addingTask {
    gap: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .addingTask {
    width: 60%;
  }
}