.addingTask {
  display: grid;
  gap: 16px;
  width: 100%;
  max-width: 700px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  margin-top: 40px;
}

/* @media screen and (min-width: 768px) {
  .addingTask {
    width: 80%;
    gap: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .addingTask {
    width: 40%;
  }
} */
